<div class="card">
    <div class="card-body r5">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id excepturi iste itaque laboriosam ducimus iusto quasi, iure quis pariatur corrupti autem nisi voluptas eligendi dolore possimus molestiae, dicta voluptate quam?</p>
    </div>
</div>