<!-- PRIERO SE EJECUTA MAIN.HBS lo que tena ese main no va cambiar   MT4 es margen-->
<div class="jumbotron mt-4"> 
    <h1 class="display-4">Notes App Nodejs anf Mongodb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ipsam libero at</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit velit quasi consequuntur error aliquid sequi? Exercitationem rerum amet voluptates, dolor, enim dolores distinctio atque, tempore reiciendis numquam repudiandae optio autem.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FAZTWEB</a>
</div>