<!-- aqui va mostrar toda las notas -->
<div class="row"> <!--para ponerlo en cada cuadro se debe recorre notes. lo buno q se puedeacceder a cada uno de sus propiedades-->
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-item-center">
                         {{title}} <a href="#"><i class="fas fa-edit"></i></a>  <!-- aqui se poner los iconos q se iporto en el main.hbs de fontawesome-->
                    </h4>
                    <p>
                        {{description}}
                        <button class="btn btn-danger btn-block btn-sm">
                            Delete
                        </button>
                    </p>
                </div>
            </div>
        </div>

        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">There are not notes yet..</p>
                <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>  <!--redirecciona para q lo devuelva al formulario si es q no hay notas -->
            </div>
        </div>
    {{/each}}   
</div>