<!-- Hasta aquí ya e creo un formulario, e incluso se agrego un hbs para con una rota new-notes donde
se podra poner un titulo y descripcion y este se guarda y te redirecciona a otra página hbs y a la vez te pinta en la consola lo ue recuperó
esto servidría más adelante para integrarlo con BD-->

<!-- esto es de handelbar, si existe un error, empieza arecorre los errores  -->
{{#each errors}}  
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
<div class="card">
    <div class="card-header">
        <h3>New Note</h3>
    </div>
    <div class="card-body">
        <form action="/notes/new-note" method="POST">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
</div>